In [29]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
import pandas as pd 
servico = Service(ChromeDriverManager().install())
navegador = webdriver.Chrome(service=servico)

navegador.get("https://brasil.io/dataset/genero-nomes/nomes/")

table_html = navegador.find_element(By.ID, 'genero-nomes').get_attribute('outerHTML')
df = pd.read_html(table_html)[0]
df.to_csv('tabela_extraida.csv', index=False)
print(df)

           Nome       Grupo GÃªnero  Freq. Feminino  Freq. Masculino  \
0        AABRAO      ABRAAO      M             NaN             26.0
1      AADRIANA     ADRIANA      F            94.0              NaN
2      AADRIANO     ADRIANO      M             NaN             53.0
3       AAILTON      AILTON      M             NaN             23.0
4         AALAN        ALAN      M             NaN             27.0
5   AALESSANDRA  ALESSANDRA      F            44.0              NaN
6   AALESSANDRO  ALESSANDRO      M             NaN             25.0
7         AALEX        ALEX      M             NaN             36.0
8    AALEXANDRE   ALEXANDRE      M             NaN             70.0
9        AALINE       ALINE      F            66.0              NaN
10      AALIYAH         LIA      F            28.0              NaN
11      AAMANDA      AMANDA      F            89.0              NaN
12      AAMARIA      AMARIA      F            52.0              NaN
13          AAN         ANN      M             NaN             24.0
14         AANA         ANA      F           531.0              NaN
15    AANDERSON    ANDERSON      M             NaN             58.0
16       AANDRE       ANDRE      M             NaN             48.0
17      AANDREA      ANDREA      F            37.0              NaN
18     AANDREIA     ANDREIA      F            34.0              NaN
19    AANDRESSA    ANDRESSA      F            34.0              NaN
20      AANGELA      ANGELA      F            44.0              NaN
21    AANGELICA    ANGELICA      F            25.0              NaN
22     AANTONIA     ANTONIA      F            81.0              NaN
23     AANTONIO     ANTONIO      M             NaN            279.0
24   AAPARECIDA   APARECIDA      F            60.0              NaN
25        AARAO        ARAO      M             NaN            281.0
26        AARON        ARON      M             NaN            676.0
27          ABA         ADA      F            82.0              NaN
28        ABAAO        ADAO      M             NaN            113.0
29     ABACUQUE   HABACUQUE      M             NaN             56.0
30        ABADE       ABADE      M             NaN             57.0
31        ABADI       ABADI      M             NaN             73.0
32       ABADIA      ABADIA      F          7438.0            127.0
33      ABADIAS     ABADIAS      M            45.0            156.0
34       ABADIL      ABADIL      M             NaN            101.0
35       ABADIO      ABADIO      M             NaN           1550.0
36       ABADIR       ABADI      M             NaN             43.0
37       ABAETE       ADETE      M             NaN             39.0
38    ABALBERTO   ADALBERTO      M             NaN             30.0
39         ABAO        ADAO      M             NaN             35.0
40         ABAS        ADAS      M             NaN             22.0
41          ABD         ABD      M             NaN             23.0
42         ABDA        ABDA      F           343.0              NaN
43        ABDAL      ABDIEL      M             NaN             32.0
44       ABDALA      ABDALA      M             NaN            346.0
45      ABDALLA     ABDALLA      M             NaN             87.0
46     ABDALLAH     ABDALLA      M             NaN             62.0
47        ABDAN       ADDAN      M             NaN             26.0
48        ABDAO       ABDAO      M             NaN             67.0
49         ABDE       ABDER      M             NaN             21.0

    Freq. Total  Freq. do Grupo  Probabilidade  \
0            26           32296           1.00
1            94          568459           1.00
2            53          338554           1.00
3            23          246915           1.00
4            27          221601           1.00
5            44          341637           1.00
6            25          238113           1.00
7            36          312401           1.00
8            70          448972           1.00
9            66          530550           1.00
10           28           68767           1.00
11           89          467319           1.00
12           52            2951           1.00
13           24             268           1.00
14          531         3158780           1.00
15           58          489063           1.00
16           48          584685           1.00
17           37          176161           1.00
18           34          292359           1.00
19           34          185864           1.00
20           44          281796           1.00
21           25          125221           1.00
22           81          593046           1.00
23          279         2577817           1.00
24           60          304084           1.00
25          281            3526           1.00
26          676            3442           1.00
27           82            5583           1.00
28          113          122422           1.00
29           56             151           1.00
30           57              57           1.00
31           73             116           1.00
32         7565            7565           0.98
33          201             201           0.78
34          101             133           1.00
35         1550            1550           1.00
36           43             116           1.00
37           39             233           1.00
38           30           48655           1.00
39           35          122422           1.00
40           22              98           1.00
41           23              23           1.00
42          343             485           1.00
43           32            1564           1.00
44          346             346           1.00
45           87             149           1.00
46           62             149           1.00
47           26             112           1.00
48           67              67           1.00
49           21              45           1.00

                                   Nomes alternativos
0   ABRAAO|ABRAHAO|ABRAO|ABRHAO|ABRRAO|ADRAAO|ADRA...
1   ABRIANA|ADRAINA|ADRIANA|ADRIANNA|ADRRIANA|ADRY...
2                    ABRIANO|ADRIANNO|ADRIANO|ADRYANO
3   AELTOM|AELTON|AHILTON|AILTHON|AILTOM|AILTON|AL...
4   AHLAM|AILAM|AILAN|ALAAN|ALAM|ALAN|ALANN|AYLAN|...
5   ALECHANDRA|ALESSANDRA|ALEXANDRA|ALEXSSANDRA|EL...
6   ALECHANDRO|ALESSANDRO|ALEXANDRO|ALEXSSANDRO|EL...
7                     ALESS|ALEX|ELEX|HALEX|LEX|UALEX
8   ALECHANDRE|ALESSANDRE|ALEXANDRE|ALEXANDRER|ALE...
9   AILINE|ALEINE|ALIINE|ALINE|ALINER|ALINHE|ALINN...
10  AELIA|AILIA|ALAI|ALAIR|ALAUIR|ALAY|ALAYR|ALIA|...
11     AMANDA|AMANDAH|AMANDHA|AMANNDA|AMMANDA|HAMANDA
12                              AMARAI|AMARAIR|AMARIA
13                                     AHN|AN|ANN|HAN
14  ANA|ANAA|ANAH|ANAR|ANNA|ANNAH|HANA|HANAH|HANNA...
15  ANDERRSON|ANDERSOM|ANDERSON|ANDERSONN|ANDERZON...
16                  ANDRE|ANDREH|ANDRER|ANNDRE|HANDRE
17                                     ANDREA|HANDREA
18                                    ANDREIA|ANDREYA
19                                 ANDRESSA|HANDRESSA
20    ANGALA|ANGELA|ANGILA|ANGLA|ANJALA|ANJELA|ANJILA
21        ANGALICA|ANGELICA|ANGELIKA|ANGLICA|ANJELICA
22        ANTHONIA|ANTONHIA|ANTONIA|ANTONIHA|ANTONIIA
23  ANNTONIO|ANTHONIO|ANTONHIO|ANTONIHO|ANTONIIO|A...
24                                          APARECIDA
25                                         ARAAO|ARAO
26                       AHARON|AROM|ARON|ARYON|HARON
27                            ADA|ADAH|ADAR|ADHA|HADA
28                                          ABAO|ADAO
29                                          HABACUQUE
30                                                NaN
31                                             ABADIR
32                                                NaN
33                                                NaN
34                                             ADABEL
35                                                NaN
36                                              ABADI
37                                        ABETE|ADETE
38  ADALBERTO|ADALDERTO|ADELBERTO|ADILBERTO|ADLBER...
39                                         ABAAO|ADAO
40                                               ADAS
41                                                NaN
42                                               ADDA
43  ABDAEL|ABDEEL|ABDEL|ABDIEL|ABDUL|ADBEEL|ADBEL|...
44                                                NaN
45                                           ABDALLAH
46                                            ABDALLA
47                                        ADDAM|ADDAN
48                                                NaN
49                                         ABDER|ADBE

C:\Users\gleiciele.silva\AppData\Local\Temp\ipykernel_11636\2088509250.py:11: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(table_html)[0]